/* Stilisera sidfoten, placera den längst ner på sidan och gör den alltid synlig.*/

.footer {
  width: var(--full-width);
  height: auto;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid var(--dark);
  background-color: white;
}

.footer h4 {
  box-sizing: border-box;
  padding: 1rem;
  margin: 0;
}

