/* Definiera utgånsvärden för webbplatsens färger, bredd, teckensnitt och textstorlek */

:root {
  --gray: #717171;
  --dark: #444544;
  --red: #912723;
  --main-width: 70%;
  --main-w-tablet: 80%;
  --main-w-mobile: 99%;
  --full-width: 100vw;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Gör body behållaren responsiv och stilisera den */

body {
  width: var(--full-width);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: white;
  color: var(--dark);
  text-align: center;
}

/* Ta bort stilen på alla listor och nollställ marginaler och padding */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

