/* Gör video-behållaren responsiv, använd ID för att göra stiliseringen på iframe-behållaren möjlig */

#video {
  min-width: 320px;
  width: var(--main-width);
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Låt video-behållaren anpassa sig efter mindre skärmar */

@media screen and (max-width: 1200px) {
  #video {
    width: var(--main-w-tablet);
  }
}

@media screen and (max-width: 700px) {
  #video {
    width: var(--main-w-mobile);
  }
}